@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["FirstName"] = "Matt";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["FirstName"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
